<form action="/pizza-orders" method="post">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" name="first_name">

    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" name="last_name">

    <label for="pizza-select">Select a Pizza:</label>
    <select name="topping" id="pizza-select">
        <option value="cheese">Cheese</option>
        <option value="ham">Ham</option>
        <option value="pineapple">Pineapple</option>
        <option value="pepper">Pepper</option>
        <option value="chorizo">Chorizo</option>
    </select>

    <label for="quantity">Quantity</label>
    <input id="quantity" type="number" name="quantity">

    <input type="submit" value="Order Pizza">
</form>
